<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
    <table>
        <tr>
            <th>{{ headings[0] }}</th>
        </tr>
        {% for course in data1 %}
        <tr>
            
            <td>{{ course }}</td>
            
        </tr>
        {% endfor %} 
    </table>
    <table>
        <tr>
            <th>{{ headings[1] }}</th>
        </tr>
        {% for course in data2 %}
        <tr>
            
            <td>{{ course }}</td>
            
        </tr>
        {% endfor %} 
    </table>
    <table>
        <tr>
            <th>{{ headings[2] }}</th>
        </tr>
        {% for course in data3 %}
        <tr>
            
            <td>{{ course }}</td>
            
        </tr>
        {% endfor %} 
    </table>
    <table>
        <tr>
            <th>{{ headings[3] }}</th>
        </tr>
        {% for course in data4 %}
        <tr>
            
            <td>{{ course }}</td>
            
        </tr>
        {% endfor %} 
    </table>
    <table>
        <tr>
            <th>{{ headings[4] }}</th>
        </tr>
        {% for course in data5 %}
        <tr>
            
            <td>{{ course }}</td>
            
        </tr>
        {% endfor %} 
    </table>
    <table>
        <tr>
            <th>{{ headings[5] }}</th>
        </tr>
        {% for course in data6 %}
        <tr>
            
            <td>{{ course }}</td>
            
        </tr>
        {% endfor %} 
    </table>
    <table>
        <tr>
            <th>{{ headings[6] }}</th>
        </tr>
        {% for course in data7 %}
        <tr>
            
            <td>{{ course }}</td>
            
        </tr>
        {% endfor %} 
    </table>
    <table>
        <tr>
            <th>{{ headings[7] }}</th>
        </tr>
        {% for course in data8 %}
        <tr>
            
            <td>{{ course }}</td>
            
        </tr>
        {% endfor %} 
</body>
</html>